doctype html
html(lang="en")
  head
    title= pageTitle
  body
    small.
      click to get new data from api, the page will reload
    button(id='refresh_history_button' href='/' type='button').
      refresh 'random'

    div
      block main

  script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  //- script(type='text/javascript' src='/home.js')
  script.
    $(function(){

      $('#refresh_history_button').click(function(){
        $.get('/refresh_history', function(response){
          location.reload();
        });
      });

    });
